<div class="container no-gutters">
  <h1>Product Details</h1>
  <button type="button" class="btn btn-lg btn-primary" (click)="goBack()">Back</button>
  <div *ngIf="product" class="row">
    <div class="col-sm-12 col-md-6">
      <img src="{{product.imagelink}}" alt="{{product.name}}" />
    </div>
    <div id="productcontent" class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <h1>{{product.name}}</h1>
        </div>
        <div class="col-12">
          <h2>Rating: {{product.rating}}/5</h2>
        </div>
        <div class="col-12">
          <h3>Stock: {{product.stock}}</h3>
        </div>
        <div class="col-12">
          <h3>Price: ${{product.price}}</h3>
        </div>
        <div class="col-12">
          <p>{{product.description}}</p>
        </div>
        <div class="col-12">
          <strong>Qty:</strong>
          <input type="text" [(ngModel)]="quantity" />
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="addProductToCart()">Add</button>
        </div>
      </div>

    </div>
  </div>

</div>
