<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Qty</th>
      <th scope="col">Total</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" >
      <!-- <th scope="row">1</th> -->
      <td class="imageContainer"><img src="{{product.imagelink}}"/></td>
      <td>{{product.name}}</td>
      <td>${{product.price}}</td>
      <td><input type="number" [(ngModel)]="product.quantity"/> </td>
      <td><button class="btn btn-warning">Delete</button></td>
    </tr>

  </tbody>
</table>
