<div>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to
      <strong>Grocery Cloud 2.0</strong>
    </h1>
    <p class="lead">The best way to shop for groceries online</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/shopping" role="button">Go Shopping</a>
    </p>
  </div>
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let featuredProduct of featuredProducts let isFirst = first" [class.active]="isFirst" class="carousel-item"
          >

          <img class="d-block w-100" src="{{featuredProduct.imagelink}}" alt="{{featuredProduct.name}}" (click)="openProductDetail(featuredProduct)">


        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</div>
