img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageContainer {
  height: 8em;
  width: 8em;
}
.productItem {
  /* background: green; */
  height: 13em;
  margin: 1em;
}
.no-bullets {
  list-style-type: none;
}
