<div class="container">
  <h1>Contact Us</h1>
  <form class="needs-validation" novalidate="">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input required="" type="text" class="form-control" id="inputName" placeholder="Enter name">
      <div class="invalid-feedback">Please enter your name.</div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Email address</label>
      <input required type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
      <div class="invalid-feedback">Please enter a valid email.</div>
    </div>
    <div class="form-group">
      <label for="additionalInfo">Additional information</label>
      <textarea class="form-control" id="additionalInfo" placeholder="Enter additional information"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>
